// @color_body : rgba( 104, 6, 146, 0 );
@color_body : black;
@color_header_temp: #17E71C;
@color_header: darken(@color_header_temp,10%);
@anti_color_header: spin(@color_header, 360);
// @color_content: #0642c5;
@color_content: white;
@color_aside: #c50606;
@color_footer: #faf614;
@ba_content: 'Contenido ';

/*
Funciones:
darken
lighten
spin
fade

*/

@basecolor  : #fa9915;
@compcolor  :darken(@basecolor, 10);

// Botones 

@botonbg    :rgb(76,166,177);
@botonborde :darken(@botonbg, 20);
@botonradio :4px;
@botoncolor :white;

@alertcolor 	: rgb(252,0,0);
@errorcolor 	: rgb(218,79,73);
@infocolor 		: rgb(217,237,247);
@successcolor 	: rgb(91,183,91);